.treeTop {
	margin-top: 80px;
	width: 320px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.tree {
	position: relative;
	height: 550px;
}
.ul {
	list-style: none;
}
.decoratedItem {
	position: absolute;
	padding-left: 0px;
	padding-right: 0px;
}
.christmasTree {
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
